h1 {
    background-color: black;
    padding-left: 20px;
}
.white {
    color: white;
    font-family: 'Comic Sans Ms'
}
.cyan { 
    color: cyan;
    font-family: 'Comic Sans Ms'
}
h2 {
    color: white;
    background-color: rebeccapurple;
    text-align: center;
    font-style: italic;
    margin-top: -15px;
    font-family: 'Comic Sans Ms';
    font-weight: normal;
    padding-bottom: 5px;
    
}
h3 {
    background-color: #9FC5F8;
    text-align: right;
    margin-top: -15px;
    padding-bottom: 5px;
}
a {
    color: #20124D; 
    padding-right: 20px;
    font-family: 'Comic Sans Ms';
    font-weight: normal;
}
